@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Titillium+Web:ital,wght@1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}
html{
    scroll-behavior:smooth !important;
}